html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fffffff8;
    scroll-behavior: smooth;
    font-family: 'comfortaa', 'chivo', 'roboto', 'helvetica', 'arial', sans-serif;
}

* {
    box-sizing: border-box;
}


body::-webkit-scrollbar {
    display: none;
}
.section {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
}
h1, p, a {
    margin: 20px 0;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    color: rgb(79, 79, 79);
    text-align: center;
}

ul li {
    list-style: url(../images/chevron-right.svg);
    margin: 5px 0;
}

div .sec-pic{
    width: 384px !important;
    height: 384px !important;
}
@media all and (max-width: 768px) {
    div .sec-pic{
        width: 320px !important;
        height: 320px !important;
    }
}