.divcold {
  display: grid;
  place-items: center;
}

.centerFile {
  display: grid;
  place-items: center;
}

.activeHome {
  background-color: #2d52af;
  color: rgb(187, 187, 187);
  transition: 0.5s;
}
.activeHome:hover {
  background-color: #315fd1;
  color:white;
  transition: 0.3s;
}

.navbarCol {
  background-color: #36393F;
  color: grey;
  opacity: 0.9;
  transition: 0.5s;
}
.navbarCol:hover {
  background-color: #2F3136;
  color: white;
  opacity: 1;
  transition: 0.3s;
}
